colorama>=0.4.6
websockets>=12.0
PyYAML>=6.0.1
jellyfish>=1.0.3
jinja2>=3.1.3
schema>=0.7.5
kivy>=2.3.0
bsdiff4>=1.2.4
platformdirs>=4.1.0
certifi>=2023.11.17
cython>=3.0.8
cymem>=2.0.8
orjson>=3.9.10
typing_extensions>=4.7.0
pyramid==2.0.2
pyramid_chameleon
Pymem>=1.10.0
pyevermizer==0.48.0
nest-asyncio>=1.5.5
six>=1.16.0
maseya-z3pr>=1.0.0rc1
xxtea>=3.0.0
s2clientprotocol>=5.0.11.90136.0
zilliandomizer @ git+https://github.com/beauxq/zilliandomizer@b36a23b5a138c78732ac8efb5b5ca8b0be07dcff#0.7.0
typing-extensions>=4.7, <5
